@import '../../assets/sass/shared.scss';

.customer-list {
  @include list-style-remove;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.customer-item {
  display: flex;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  @include media-tablet-portrait-up {
    width: calc(100%/3);
  }
  
  @include media-tablet-landscape-up {
    width: calc(100%/4);
  }
}
