@import '../../assets/sass/shared.scss';

.customer-list {
  @include list-style-remove;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.customer-item {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include media-tablet-portrait-up {
    width: calc(100%/3);
  }
  
  @include media-tablet-landscape-up {
    width: calc(100%/4);
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(get-color(dark), .3);
}

.modal-wrap {
  @include container;
  position: relative;
  overflow: auto;
  max-height: 90vh;
}

.modal-close {
  position: absolute;
  right: 1.5rem;
  top: 0;
}
