@import '../../assets/sass/shared.scss';

.article {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  
  @include media-desktop-up {
    background-color: get-color(dark);
    color: get-color(light);
  }
}
