@import '../../assets/sass/shared.scss';

.add-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
  background-color: get-color(light);
  border-radius: 6px;
  transition: $transition-default;

  &:hover {
    @include box-shadow(get-color(primary), .15);
  }
}

.form-add-customer {
  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
