@import '../../assets/sass/shared.scss';

.customer-card {
  background-color: get-color(light);
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 6px;
  position: relative;
}

.customer-avatar {
  width: 100px;
  height: 100px;
  background-color: get-color(grey-lighter);
  border-radius: 100px;
  overflow: hidden;
}

.customer-info {
  font-size: 1.4rem;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.customer-name {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.customer-more {
  width: 100%;
  text-align: center;
}

.customer-cpf {
  margin-bottom: 0;
}

.customer-birthdate {
  margin-bottom: 0;
}

.customer-action {
  position: absolute;
  top: 1rem;
  
  &.right {
    right: 1rem;
  }
  
  &.left {
    left: 1rem;
  }
}

.update-customer {
  font-size: 1.4rem;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  
  .form-input {
    padding: 0;
    min-height: 0;
    line-height: 1.5;
    border: 1px solid transparent;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    
    &:-internal-autofill-selected {
      background-color: #fff !important;
    }

    &:focus {
      border: 1px solid transparent;
    }

    @include input-placeholder {
      color: get-color(primary);
      // font-size: 1.8rem;
      // text-align: center;
      // font-weight: bold;
    }
  }
}
