@import '../../assets/sass/shared.scss';

.customer-card {
  background-color: get-color(light);
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  border-radius: 6px;
  position: relative;
  transition: $transition-default;

  &:hover {
    @include box-shadow(get-color(primary), .15);

    .customer-avatar {
      &::before {
        border: 1px solid rgba(get-color(primary), .6);
      }
    }
  }
}

.customer-avatar {
  background-color: get-color(grey-lighter);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: relative;

  img {
    border-radius: 100px;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }

  &::before {
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition-default;
  }
}

.customer-info {
  font-size: 1.4rem;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.customer-name {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.customer-more {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.customer-cpf {
  margin-bottom: 0;
}

.customer-birthdate {
  margin-bottom: 0;
}

.customer-action {
  font-size: 2.2rem;
  position: absolute;
  top: 1rem;
  
  &.right {
    right: 1rem;
  }
  
  &.left {
    left: 1rem;
  }
}
